<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>formulario quiero adoptar</title>
    <link rel="icon" href="../fotos/patitapro.png">
    <style> @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&display=swap');</style>
    <link rel="stylesheet" href="../css/estilosQuieroAdoptar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap"
      rel="stylesheet"
    >
    <script
      src="https://kit.fontawesome.com/d1f11e4bbc.js"
      crossorigin="anonymous"
    ></script>
    <!-- Material Icon CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  
  <body>
    <header>
      <div class="logo">
        <img src="../fotos/logoBlanco.png" alt="logo" width="5%">
        <h2>Patitas</h2>
      </div>

        <div class="usuario">
          <div class="usuario-icon">
              <i class="fas fa-user-circle"></i>
          </div>
          <div id= appVue>          
            <p>{{nombre}}</p>          
  
          </div>
        </div>

        <div id="menu2" class="menu2" onclick="openSidebar()">
          <button>
              <i class="fas fa-bars"></i>
          </button>
        </div>
      </header>
  
      <nav>
        <div class="side-bar" id="side-bar">
            <button class="cruz">
                <i class="far fa-times-circle"></i>
            </button>
            <p>MENU</p>
            <section class="conj-botones-menu" id="appVueMenu">
              <section >
                <a href="index.html" type="button" class="boton-menu">INICIO</a>
              </section>
              <section v-if="esDuenio()">
                  <a href="adoptar.html" type="button" class="boton-menu">ADOPTAR</a>
              </section>
              <section v-if="esDuenio()">
                  <a href="darEnAdopcion.html" type="button" class="boton-menu">DAR EN ADOPCION</a>
              </section>

              <section v-if="esDuenioORescatista()">
                  <a onclick="encontreMascota();" type="button" class="boton-menu">ENCONTRE A UNA MASCOTA</a>
              </section>                
              <section v-if="esDuenio()">
                  <a href="registrarMascota.html" type="button" class="boton-menu">REGITSTRAR MASCOTA</a>
              </section>
              <section v-if="esDuenioORescatista()"> 
                  <a href="hogaresDeTransito.html" type="button" class="boton-menu"> HOGARES DE TRANSITO</a>
              </section>
              <section>
                  <a href="mascotasPerdidasPubli.html" type="button" class="boton-menu">MASCOTAS PERDIDAS</a>
              </section>
               <section v-if = "esVoluntario()">
                  <a href="aprobarPublicaciones.html" type="button" class="boton-menu">APROBAR PUBLICACIONES</a>
              </section>
              <section v-if = "esAdmin()">
                <a href="administrador.html" type="button" class="boton-menu">CONFIGURAR PARAMETROS</a>
              </section>
              <section>
                  <a href="iniciarSesion.html" type="button" class="boton-menu">CERRAR SESION</a>
              </section>
          </section>
        </div>
    </nav>

    <main>
      <section>

        <div class="portada">
          <h1> QUIERO ADOPTAR</h1>
        </div>

        <form
          id = "appVueQuieroAdoptar" 
          onsubmit="return false" 
          autocomplete="on"
          target="_blank"
        >
        <section class="datos-personales">

          <fieldset>
           
            <h3 class="titulos-form"> Sobre tus preferencias</h3>
      
            <div id="caracteristicas" v-for="(pref,index) in preguntas">
              <select name="selector" v-on:change="agregarPreguntas($event, index)">
                <option value="">Ninguna</option>
                <option v-for="clave in preguntas" :value="clave" >{{clave}}</option>
                option
              </select>
              <input
                placeholder="Especifique"
                type="text"
                name="caracteristicas"
                v-on:change="agregarCaracteristica($event, 0)"
              />
              <br>
              <br>              
            </div>
          </fieldset>
        </section>
         

        <section class="usuario-foto">
          <fieldset>

            <h3 class="titulos-form">Sobre tus comodidades</h3>
            <div id="caracteristicas" v-for="(como, index) in comodidades">
              <select name="selector" v-on:change="agregarComodidades($event, index)">
                <option value="">Ninguna</option>
                <option v-for="clave in comodidades" :value="clave" >{{clave}}</option>
                option
              </select>
              <input
                placeholder="Especifique"
                type="text"
                name="caracteristicas"
                v-on:change="agregarCaracteristica($event, index)"
              />
              <br>
              <br>
            </div>            
          </fieldset>

          <section>
            <button class="boton-enviar" v-on:click="registrarAdop()">Enviar</button>            
            <a id="volverInicio" href="./index.html" target = "_self" ></a>
          </section>

        </section>

    
        


      </section>

    </main>

    <footer>
      <section>
        <div class="texto-contactanos">
          <h3>CONTACTANOS!</h3>
          <p>Ante cualquier duda no dude en consultarnos.</p>
          <p>Estamos a su disposicion.</p>
        </div>
      </section>

      <section class="contacto-general">
        <section class="contacto">
          <div class="contacto-icon">
            <i class="fas fa-envelope-square"></i>
          </div>
          <div class="contacto-info">
            <p>MAIL</p>
            <p>patitas@gmail.com</p>
            <p></p>
          </div>
        </section>
        <section class="contacto">
          <div class="contacto-icon">
              <i class="fab fa-facebook-square"></i>
          </div>
          <div class="contacto-info">
            <p>FACEBOOK</p>
            <p>PatitasOK</p>
          </div>
        </section>
        <section class="contacto">
            <div class="contacto-icon">
              <i class="fas fa-phone-square-alt"></i>
            </div>
            <div class="contacto-info">
              <p>TELEFONO</p>
              <p>11 2345-6789</p>
            </div>
          </section>
      </section>
    </footer>
    <script type="text/javascript" src="../jscript/menu.js"></script>    
    <script type="text/javascript" src="../jscript/user.js"></script>
    <script type="text/javascript" src="../jscript/formularioQuieroAdoptar.js"></script>
  </body>
</html>